<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="home :: head"></div>
    <meta charset="UTF-8">
    <title>Danh sách khách hàng</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/jquery/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>


</head>

<!--nav bar-->
<nav class="navbar navbar-expand-lg  navbar-dark bg-success my-2 px-5 border border-info  sticky-top">
    <a class="navbar-brand mx-5" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item mr-5">
                <a class="navbar-brand mr-0" href="/list_employee">Employee <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item  mr-5">
                <a class="navbar-brand mr-0" href="/customer/list">Customer <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-5 ">
                <a class="navbar-brand mr-0" href="/list_service">Service <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-5 ">
                <a class="navbar-brand mr-0" href="#">Contract <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <!--    <form class="form-inline my-2 my-lg-0">-->
        <!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
        <!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color: white">Search</button>-->
        <!--    </form>-->
    </div>
</nav>
<body>

<form th:action="@{/services/save}" th:object="${serviceDto}" method="post" novalidate="novalidate">
    <div class="container col-3"></div>
    <div class="container col-6">
        <div class="container mt-3 ">
            <div class="alert alert-primary " role="alert" STYLE="text-align: center">
                <h3>CREATE SERVICE INFORMATION</h3>

            </div>
            <div class="form-group">
                <label>Service Name</label>
                <input type="number" class="form-control" th:field="*{serviceName}"/>

            </div>

            <div class="form-group">
                <label >Service Type </label>
                <select class="form-control" th:field="*{serviceType}" onchange="display()" id="serviceType">
                    <option th:each="serviceType : ${serviceTypes}" th:value="${serviceType.serviceTypeId}"
                            th:text="${serviceType.getServiceTypeName()}"></option>

                </select>

            </div>
            <div class="form-group">
                <label >Rent Type </label>
                <select class="form-control" th:field="*{rentType}">
                    <option th:each="rentType : ${rentTypes}" th:value="${rentType.rentTypeId}"
                            th:text="${rentType.getRentTypeName()}"></option>

                </select>

            </div>
            <div class="form-group">
                <label>Service Code</label>
                <input type="number" class="form-control" th:field="*{serviceCode}"/>

            </div>
            <div class="form-group">
                <label>Service Area </label>
                <input type="number" class="form-control" th:field="*{serviceArea}"/>

            </div>
            <div class="form-group">
                <label>Service Cost</label>
                <input type="number" class="form-control" th:field="*{serviceCost}"/>

            </div>
            <div class="form-group">
                <label>Service Max People</label>
                <input type="number" class="form-control" th:field="*{serviceMaxPeople}"/>

            </div>
            <div class="form-group" id="standardRoom">
                <label>Standard Room: </label>
                <input  type="text" class="form-control" placeholder="Enter standard room..."
                       th:field="*{standardRoom}">
            </div>
            <div class="form-group" id="description">
                <label>Description Other Convenience: </label>
                <input  type="text" class="form-control"
                       placeholder="Enter description..." th:field="*{descriptionOtherConvenience}">
            </div>
            <div class="form-group" id="poolArea">
                <label>Pool Area: </label>
                <input  type="number" class="form-control" placeholder="Enter pool area... "
                       th:field="*{poolArea}">
            </div>
            <div class="form-group" id="floors">
                <label>Number Of Floors: </label>
                <input  type="number" class="form-control"
                       placeholder="Enter number of floors... " th:field="*{numberOfFloors}">

            </div>
            <div class="d-flex justify-content-center ">
                <button type="submit" class="btn btn-primary mb-3">Create</button>
            </div>

            <div class="container col-3"></div>
        </div>
    </div>
</form>

<footer th:replace="/home :: footer"></footer>
<script>
    function display(){
        let id=document.getElementById('serviceType').value;
        if (id==1){
            document.getElementById("standardRoom").style.display='block';
            document.getElementById("description").style.display='block';
            document.getElementById("poolArea").style.display='block';
            document.getElementById("floors").style.display='block';
        }else if (id==2){
            document.getElementById("standardRoom").style.display='block';
            document.getElementById("description").style.display='block';
            document.getElementById("poolArea").style.display='none';
            document.getElementById("floors").style.display='block';
        }else {
            document.getElementById("standardRoom").style.display='none';
            document.getElementById("description").style.display='none';
            document.getElementById("poolArea").style.display='none';
            document.getElementById("floors").style.display='none';
        }

    }
</script>
</body>
</html>