
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout  :: head"></head>
<body>
<h3>Products</h3>
<p>
  <a th:href="@{/product/create}">
    Add new Product
  </a>
</p>
<div>
  <form th:action="@{/}">
    <input type="text" name="keyword" placeholder="Enter keyword..." style="width: 300px">
    <input type="submit" value="Search" style="width: 80px">
  </form>
</div>
<div class="notify">
  <div th:if="${success}">
    <span th:text="${success}"></span>
  </div>
</div>
<table id = "products">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Manufacturer</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>View</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product,rowStat  : ${products.content}">
    <td th:text="${product.id}"></td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.price}"></td>
    <td th:text="${product.description}"></td>
    <td th:text="${product.manufacturer}"></td>
    <td><a th:href="@{product/edit(id=${product.getId()})}">edit</a></td>
    <td><a th:href="@{product/delete(id=${product.getId()})}">delete</a></td>
    <td><a th:href="@{product/view(id=${product.getId()})}">view</a></td>
  </tr>
  </tbody>
</table>
<div>
  <a th:href="@{/(page=${products.number - 1},keyword=${keyword})}" th:if="${products.hasPrevious()}">Previous</a>
  <span th:text="${products.number+1}"></span>/<span th:text="${products.totalPages}"></span>
  <a th:href="@{/(page=${products.number + 1},keyword=${keyword})}" th:if="${products.hasNext()}">Next</a>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>