<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<a href="/create-customer">Create new customer</a>
<form >
  <input th:type="text" name="keyword">
  <input th:type="submit" value="Search">
</form>
<h1>Customers</h1>
<table border="1">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <th:block th:each="customer : ${customers}">
    <tr>
      <td th:text="${customer.firstName}"></td>
      <td th:text="${customer.lastName}"></td>
      <td><a th:href="@{/edit-customer/__${customer.id}__ }">Edit</a></td>
      <td><a th:href="@{/delete-customer/__${customer.id}__ }">Delete</a></td>
    </tr>
  </th:block>
</table>
<p>
  <a th:id="${customers.hasPrevious()}"
     th:href="@{/customer(page=${customers.number -1 }, keyword=${keywordValue})}">Previous</a>
  <span th:text="${customers.number + 1}">

        </span>
  <span th:text="${customers.totalPages}"></span>

  <a th:id="${customers.hasNext()}"
     th:href="@{/customer(page=${customers.number +1 }, keyword=${keywordValue})}">Next</a>
</p>
</body>
</html>