<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-province"> Create New Province</a>
<h1>Province</h1>
<table border="1">
  <tr>

    <th>Name</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr th:each="province : ${province}">
    <td th:text="${province.name}"></td>
    <td><a th:href="@{/edit-province(id=${province.id})}">Edit</a></td>
    <td><a th:href="@{/delete-province(id=${province.id})}">Delete</a></td>
  </tr>

</table>
</body>
</html>