<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
<p>
    <a STYLE="color: blue"  >PRODUCT LIST</a><br>
    <a STYLE="color: blue"  href="/shopping-cart">YOUR CARD </a>
</p>

<div class="row">
    <th:block th:each="product : ${products}">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
                <div class="card">
                    <img th:src="@{'/img/img'+ ${product.id}+ '.jpg'}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 th:href="@{/view/__${product.id}__}" th:text="${product.name}"></h5>
                        <span th:text="${product.price}"></span>
                        <input type="submit" value="Mua ngay">
                        <a th:href="@{/cart}">Mua Ngay</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>


    </th:block>

</div>
<!--<table>-->
<!--    <tr>-->
<!--        <td>Name</td>-->
<!--        <td>Price</td>-->
<!--        <td>Add To Cart</td>-->
<!--    </tr>-->
<!--    <th:block th:each="product:${products}">-->
<!--        <tr>-->
<!--            <td th:text="${product.name}"></td>-->
<!--            <td th:text="${product.price}"></td>-->
<!--            <td><a th:href="@{/add/__${product.id}__(action='list')}">Add To Cart</a></td>-->
<!--        </tr>-->
<!--    </th:block>-->
<!--</table>-->
</body>
</html>