<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="home :: head">
    <meta charset="UTF-8">
    <title>Danh sách khách hàng</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/jquery/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>

<!--nav bar-->
<nav class="navbar navbar-expand-lg  navbar-dark bg-success my-2 px-5 border border-info  sticky-top">
    <a class="navbar-brand mx-5" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item mr-5">
                <a class="navbar-brand mr-0" href="/employee/list">Employee <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item  mr-5">
                <a class="navbar-brand mr-0" href="/customer/list">Customer <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-5 ">
                <a class="navbar-brand mr-0" href="/service/list">Service <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-5 ">
                <a class="navbar-brand mr-0" href="#">Contract <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <!--    <form class="form-inline my-2 my-lg-0">-->
        <!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
        <!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color: white">Search</button>-->
        <!--    </form>-->
    </div>
</nav>
<body>
<p>
    <a th:href="@{/employee/list}">
        Back to employee list
    </a>
</p>
<form th:action="@{/employee/save}" th:object="${employeeDto}" method="post" >
    <div class="container col-3"></div>
    <div class="container col-6">
        <div class="container mt-3 ">
            <div class="alert alert-primary " role="alert" STYLE="text-align: center">
                <h3>CREATE EMPLOYEE INFORMATION</h3>
            </div>

            <div class="form-group">
                <label>Employee Name</label>
                <input type="text" class="form-control" th:field="*{employeeName}"/>


            </div>

            <div class="form-group ">
                <label>Birthday</label>
                <input type="date" class="form-control" th:field="*{employeeBirthday}"/>

            </div>
            <div class="form-group ">
                <label>Id Card</label>
                <input type="number" class="form-control" th:field="*{employeeIdCard}"/>

            </div>
            <div class="form-group">
                <label>Salary: </label>
                <input type="number" class="form-control" placeholder="Enter salary... " th:field="*{employeeSalary}">
                <span style="color: red" th:if="${#fields.hasErrors('employeeSalary')}"
                      th:errors="*{employeeSalary}"></span>
            </div>

            <div class="form-group">
                <label>Phone: </label>
                <input type="number" class="form-control" placeholder="Enter phone number..."
                       th:field="*{employeePhone}">
                <span style="color: red" th:if="${#fields.hasErrors('employeePhone')}"
                      th:errors="*{employeePhone}"></span>
            </div>
            <div class="form-group">
                <label>Email: </label>
                <input type="email" class="form-control" placeholder="Enter email..." th:field="*{employeeEmail}">
                <span style="color: red" th:if="${#fields.hasErrors('employeeEmail')}"
                      th:errors="*{employeeEmail}"></span>
            </div>
            <div class="form-group">
                <label>Address: </label>
                <input type="text" class="form-control" placeholder="Enter address... " th:field="*{employeeAddress}">
            </div>
            <div class="form-group">
                <label>Position: </label>
                <select class="form-control" th:field="*{position}">
                    <option th:each="position :${positions}" th:value="${position.positionId}"
                            th:text="${position.positionName}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label>Education Degree: </label>
                <select class="form-control" th:field="*{educationDegree}">
                    <option th:each="education :${educationDegrees}" th:value="${education.educationDegreeId}"
                            th:text="${education.educationDegreeName}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label>Division: </label>
                <select class="form-control" th:field="*{division}">
                    <option th:each="division :${divisions}" th:value="${division.divisionId}"
                            th:text="${division.divisionName}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label>Username:</label>
                <input type="text" class="form-control" placeholder="Enter username... " th:field="*{username}">
            </div>
            <div class="d-flex justify-content-center ">
                <button type="submit" class="btn btn-primary mb-3">Create</button>
            </div>

        <div class="container col-3"></div>

        </div>
    </div>
</form>

<footer th:replace="/home :: footer"></footer>

</body>
</html>